# project
_site
.sass-cache
.vagrant

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# general
.DS_Store
Thumbs.db
ehthumbs.db
