*, *:after, *:before {
    box-sizing: border-box;
}
/* body, html {
    font-size: 100%;
    margin: 0;
    padding: 0;
} */
/* html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  } */
/* Main styles */
body {
    color: transparent;
    /* background: #2A2B30; */
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #f0f0f0;
    outline: none;
}
a:hover {
    color: #890000;
}